@page "/attendant/create"
@using FitBurger.WebApp.Models.Attendant
@using FitBurger.WebApp.Services
@using VxFormGenerator.Core

<PageTitle>Cadastrar atendente</PageTitle>

<h1>Cadastrar atendente</h1>

<EditForm Model="Model" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <RenderFormElements></RenderFormElements>
    <div class="form-row">
        <label class="col-sm-3 col-form-label">Sexo</label>
        <div class="col" style="">
            <div class="form-group">
                <input step="any" type="number" class="form-control valid"/>
            </div>
        </div>
    </div>
    <div class="form-row pt-3 pb-3">
        <button type="submit" class="btn btn-primary pr-3">Salvar</button>
        <a href="/attendant/list" class="btn btn-secondary" role="button">Voltar</a>
    </div>
</EditForm>

@code {

    [Inject] protected AttendantService AttendantService { get; set; } = default!;

    [Inject] protected NavigationManager NavigationManager { get; set; } = default!;

    private CreateAttendant Model { get; } = new();

    private async Task HandleValidSubmit()
    {
        await AttendantService.CreateAsync(Model);
        
        NavigationManager.NavigateTo("/attendant/list");
    }

}