@page "/attendant/update/{id:int}"
@using FitBurger.WebApp.Models.Attendant

<PageTitle>Editar atendente</PageTitle>

<h1>Editar atendente</h1>

<AuthorizeView Roles="Administrador">
    <Authorized>
        <DynamicUpdateForm TUpdateModel="UpdateAttendant" Id="Id"/>
    </Authorized>
    <NotAuthorized>
        <div class="form-row">
            <label class="col-sm-3 col-form-label">Acesso não autorizado.</label>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {

    [Parameter]
    public int Id { get; set; }

}