@page "/booking/create"

<PageTitle>Fazer reserva</PageTitle>

<h1>Fazer reserva</h1>

<AuthorizeView Roles="Administrador,Atendente,Cliente">
    <Authorized>
        <div class="form-row">
            <div class="col" style="">
                <div class="form-group">
                    Esta página está em manutenção!
                </div>
            </div>
        </div>
    </Authorized>
</AuthorizeView>

@code {


}