@page "/customer/create"
@using FitBurger.WebApp.Models.Customer

<PageTitle>Cadastrar cliente</PageTitle>

<h1>Cadastrar cliente</h1>

<AuthorizeView Roles="Administrador,Atendente">
    <Authorized>
        <DynamicCreateForm TCreateModel="CreateCustomer" RedirectToList="true"/>
    </Authorized>
    <NotAuthorized>
        <DynamicCreateForm TCreateModel="CreateCustomer" RedirectToList="false"/>
    </NotAuthorized>
</AuthorizeView>