@page "/order/create"
@using FitBurger.WebApp.Models.Order
@using FitBurger.WebApp.Services
@using FitBurger.Core.Domain.Repositories.Abstractions
@using FitBurger.Core.Domain.Entities

<PageTitle>Fazer pedido</PageTitle>

<h1>Fazer pedido</h1>

<AuthorizeView Roles="Administrador,Atendente,Cliente">
    <Authorized>
        <DynamicCreateForm TCreateModel="CreateOrder" OnValidate="Validate" OnClickSave="SaveOrder" SubmitCaption="Finalizar pedido"/>
        <hr/>
        <h4>Itens de Pedido</h4>
        <DynamicSubItemForm TSubItemModel="CreateOrderItem" OnClickAdd="AddOrderItems"/>
        <hr/>
        <h4>Pagamento</h4>
        <DynamicSubItemForm TSubItemModel="CreateOrderPayment" OnClickAdd="AddPayments"/>
    </Authorized>
</AuthorizeView>

@code {

    [Inject]
    public OrderService OrderService { get; set; } = default!;

    [Inject]
    CustomAuthenticationStateProvider WebsiteAuthenticator { get; set; } = default!;

    [Inject]
    IUserRepository UserRepository { get; set; } = default!;

    [Inject]
    IRepository<Product> ProductRepository { get; set; } = default!;

    private ICollection<CreateOrderItem> OrderItems { get; set; } = default!;

    private ICollection<CreateOrderPayment> Payments { get; set; } = default!;

    private int? CustomerId { get; set; }
    
    private int? AttendantId { get; set; }

    private async Task AddOrderItems(ICollection<CreateOrderItem> orderItems)
    {
        foreach (var orderItem in orderItems)
        {
            var product = await ProductRepository.GetAsync(orderItem.ProductId!.Value);

            orderItem.Price = product!.Price * orderItem.Quantity ?? 1;
        }
        
        OrderItems = orderItems;
    }

    private Task AddPayments(ICollection<CreateOrderPayment> payments)
    {
        Payments = payments;

        return Task.CompletedTask;
    }

    private Task SaveOrder(CreateOrder order)
    {
        order.Items = OrderItems;
        order.Payments = Payments;
        order.CustomerId = CustomerId!.Value;

        return Task.CompletedTask;
    }

    private Task Validate((EditContext EditContext, ValidationMessageStore MessageStore) validation)
    {
        var order = (CreateOrder)validation.EditContext.Model;
        
        order.Items = OrderItems;
        order.Payments = Payments;
        order.CustomerId = CustomerId!.Value;

        if (order.Items is null || order.Items.Count == 0)
        {
            validation.MessageStore.Add(() => order.Items!, "Ao menos um item de pedido deve ser selecionado.");
        }
        else if (order.Payments is null || order.Payments.Count == 0)
        {
            validation.MessageStore.Add(() => order.Payments!, "Você não especificou pagamentos do pedido.");
        }
        else if (order.Payments.Sum(x => x.Amount) != order.Items.Sum(x => x.Price))
        {
            validation.MessageStore.Add(() => order.Payments, "O valor total pago não é igual ao valor total do pedido.");
        }

        return Task.CompletedTask;
    }

    protected override async Task OnInitializedAsync()
    {
        var authenticatedUser = await WebsiteAuthenticator.GetAuthenticatedUser();

        if (authenticatedUser is not null)
        {
            var user = await UserRepository.GetByUserNameAsync(authenticatedUser.UserName);

            if (user is not null)
            {
                switch (authenticatedUser.RoleName)
                {
                    case "Cliente":
                        CustomerId = user.Id;
                        break;
                    
                    case "Atendente":
                        AttendantId = user.Id;
                        break;
                }
            }
        }
    }
}