@page
@model FitBurger.WebApp.Pages.ErrorModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Erro</title>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true"/>
</head>

<body>
<div class="main">
    <div class="content px-4">
        <h1 class="text-danger">Ops!</h1>
        <h2 class="text-danger">Um erro ocorreu ao processar sua requisição.</h2>

        @if (Model.ShowRequestId)
        {
            <p>
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>
        }

        <h3>Development Mode</h3>
        <p>
            Mudar para o ambiente <strong>Development</strong> exibe informações detalhadas sobre o erro.
        </p>
        <p>
            <strong>O ambiente de desenvolvimento não deve ser habilitado para aplicações em produção.</strong>
            Isto pode ocasionar a exibição de informações sensíveis aos usuários.
            Para fazer depuração local, use o ambiente <strong>Development</strong> mudando a configuração de variável
            de ambiente <strong>ASPNETCORE_ENVIRONMENT</strong> para <strong>Development</strong>
            e reiniciando a aplicação.
        </p>
    </div>
</div>
</body>

</html>