@using FitBurger.WebApp.Services
@using FitBurger.WebApp.Models.User
@inherits LayoutComponentBase
@inject CustomAuthenticationStateProvider WebsiteAuthenticator

<PageTitle>FitBurger.WebApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    @User?.Name
                </Authorized>
                <NotAuthorized>
                    Não logado
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

    private AuthenticatedUser? User { get; set; }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            User = await WebsiteAuthenticator.GetAuthenticatedUser();
            StateHasChanged();
        }
    }

}