@using System.Reflection
@using System.ComponentModel.DataAnnotations
@using FitBurger.WebApp.Models.Abstractions

@if (Model is IUserNameAndPassword userNameAndPasswordModel)
{
    <div class="form-row">
        <label class="col-sm-3 col-form-label">@GetUserNameDisplayName()</label>
        <div class="col" style="">
            <div class="form-group">
                <InputText @bind-Value="userNameAndPasswordModel.UserName" class="form-control valid"/>
                <ValidationMessage For="@(() => userNameAndPasswordModel.UserName)" class="form-text"/>
            </div>
        </div>
    </div>

    <div class="form-row">
        <label class="col-sm-3 col-form-label">@GetPasswordDisplayName()</label>
        <div class="col" style="">
            <div class="form-group">
                <InputText type="password" @bind-Value="userNameAndPasswordModel.Password" class="form-control valid"/>
                <ValidationMessage For="@(() => userNameAndPasswordModel.Password)" class="form-text"/>
            </div>
        </div>
    </div>
}

@code {

    [Parameter]
    public object Model { get; set; } = default!;

    private string? GetUserNameDisplayName()
    {
        return typeof(CreateUser)
            .GetProperty(nameof(CreateUser.UserName))?
            .GetCustomAttribute<DisplayAttribute>()?
            .Name;
    }
    
    private string? GetPasswordDisplayName()
    {
         return typeof(CreateUser)
            .GetProperty(nameof(CreateUser.Password))?
            .GetCustomAttribute<DisplayAttribute>()?
            .Name;
    }

}