@page "/deliveryman/create"
@using FitBurger.WebApp.Models.Deliveryman

<PageTitle>Cadastrar motoboy</PageTitle>

<h1>Cadastrar motoboy</h1>

<AuthorizeView Roles="Administrador">
    <Authorized>
        <DynamicCreateForm TCreateModel="CreateDeliveryman"/>
    </Authorized>
    <NotAuthorized>
        <div class="form-row">
            <label class="col-sm-3 col-form-label">Acesso não autorizado.</label>
        </div>
    </NotAuthorized>
</AuthorizeView>