@page "/product/update/{id:int}"
@using FitBurger.WebApp.Models.Product

<PageTitle>Editar produto</PageTitle>

<h1>Editar produto</h1>

<DynamicUpdateForm TUpdateModel="UpdateProduct" Id="Id"/>

@code {

    [Parameter]
    public int Id { get; set; }

}